body{
    font-family: "Plus Jakarta Sans", sans-serif;

}

header img
{
    width: 80px;
}
header
{
    font-size: 40px;
    width: 90%;
    margin:auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main{
    overflow: auto;
    width: 90%;
    max-width: 800px;
    margin:auto;
    min-height: 100vh;
    border-radius: 20px;
}

#avatar{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
}

#photo{
    width: 80px;
}

#edit_button{
    width: 40px;
    position: absolute;
    bottom: -7px;
    left: 60px;
}

#inputs{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CBD5E1;
    border-radius: 123px;
    height: 28px;
}

.setting{
    margin-top: 20px;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 16px;
    border: 1px solid #CBD5E1;
    margin-bottom: 20px;
    border-radius: 1234px;

    width: 95%;
    display: block;
}

#delete_acc{
    background-color: #BE123C;
    color: white;
}


footer{
    max-width: 800px;

    border-radius: 20px 20px 0px 0px;
    width: 90%;
    margin:auto;
    background-color: rgba(215, 220, 227, 0.48);
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color:#4F46E5;
}